<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.services .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}

        <section class="no-padding" id="article">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">{{ .Title }}</h2>
                            <hr class="primary">
                            <time>{{ .Date }}</time>
                            <div class="author">{{ .Params.author }}</div>
                            <article>
                                {{ .Content }}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ partial "footer.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
